
@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900");

	body {
		background: #222833;
	}

	body, input, select, textarea {
		color: #515151;
		font-family: 'Raleway', sans-serif;
		font-size: 14pt;
		font-weight: 300;
		line-height: 1.75em;
	}

	a {
		color: #a1a1a1;
		text-decoration: none;
	}

		a:hover {
			text-decoration: none;
		}

